<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>user registration</h1>
<div>
<form action="#" th:action="@{/insertuser}" th:object="${us}"> 

<label>User ID</label>
<input type="number"  th:field="*{userid}"/><br/>

<label>User password</label>
<input type="text"  th:field="*{password}"/><br/>

<label>User Type</label>
<input type="text"  th:field="*{type}"/><br/>

<input type="submit" value="submit">
<input type="reset" value="cancel">

</form>
</div>
</body>
</html>