<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
#super{display:flex}
</style>
</head>
<body>
<h1>Welcome to Admin</h1>
<div id="super">

<div>
<form action="home">
<input type="submit" value="addbook">
</form>
</div>

<div>
<form action="reg">
<input type="submit" value="addUser">
</form>
</div>

<div>
<form action="menu">
<input type="submit" value="Viewbooks">
</form>
</div>

<div>
<form action="del">
<input type="submit" value="deletebook">
</form>
</div>

<div>
<form action="deluser">
<input type="submit" value="deleteUser">
</form>
</div>

<div>
<form action="viewuser">
<input type="submit" value="ViewAllUsers">
</form>
</div>

<div>
<form action="up">
<input type="submit" value="UpdateBook">
</form>
</div>


</div>
</body>
</html>