<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Displaying All Books</h1>
<table border=5px>
<tr>
<th>BookId</th>
<th>Name</th>
<th>Authour</th>
<th>price</th>
<th>Choose</th>
</tr>
<tr th:each="reg : ${list}">
<td th:text="${reg.bid}"></td>
<td th:text="${reg.bookname}"></td>
<td th:text="${reg.authour}"></td>
<td th:text="${reg.price}"></td>
<td> <input type="radio" name="n1"></td>
</tr>
</table>
</body>
</html>